.chats {
    width: 100%;
    height: 100vh;
}

.chat-users-l ul {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: left;
    /* background-color: red; */

}

.chat-users-l li {
    padding: 30px 80px 30px 80px;
    /* border-bottom: 0.1px solid rgb(7, 7, 45); */
    transition: 0.5s ease-in-out;
}

.chat-profilePic-l {
    position: absolute;
    background-color: red;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    margin-top: -5px;
    margin-left: -50px;
}

.chat-users-l li:hover {
    background-color: rgb(9, 9, 62);
}

.chat-users-l-light ul {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: left;
    /* background-color: red; */

}

.chat-users-l-light li {
    padding: 30px 80px 30px 80px;
    /* border-bottom: 0.1px solid rgb(7, 7, 45); */
    transition: 0.5s ease-in-out;
}

.chat-profilePic-l {
    position: absolute;
    background-color: red;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    margin-top: -5px;
    margin-left: -50px;
}

.chat-users-l-light li:hover {
    background-color: rgb(226, 234, 248);
}
   




.profileDetails-l {
    display: flex;
    flex-direction: column;
    justify-content: top;
    width: 100%;
    height: 100%;
    place-items: center;
}

.profileDetailsSub-l {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: red; */
    margin-top: 100px;
    padding: 10px 50px 10px 50px
}

.profileDetailsusername-l ul {
    display: flex;
    justify-content: center;
    flex-direction: column;
    place-items: center;
}

.profileDetailsSub-l h1 {
    margin-left: 2px;
}

.active-Not {
    height: 50px;
    width: 50px;
    margin-top: 30px;
    background-color: rgb(97, 209, 72);
    border-radius: 50%;
}

.profileDetailsusername-l {
    /* background-color: red; */
    width: 100%;
    display: flex;
    justify-content: center;
    place-items: center;
    margin-top: 30px;
}

.profileDetailsusername-l h1 {
    font-size: clamp(18px, 4vw, 23px);
}
.chat-mescount-l{
    position: relative;
    float: right;
    background-color: rgb(89, 0, 255);
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin-top: 4px;
}
.chat-mescount-s{
    position: relative;
    float: right;
    background-color: rgb(89, 0, 255);
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin-top: 4px;
}