<div class=" chats ">
    <div *ngIf="toggleChat == true">
        <div *ngIf="toggleFIlter == 'false'" class="chat-users-l lg:block  md:block sm:hidden hidden ">

            <ul>
                <li *ngFor="let item of datas" (click)="handleusername(item.username, 'true', item._id)">
                    <div class="chat-profilePic-l"></div>{{item.username}}
                </li>
            </ul>
        </div>
        <div *ngIf="toggleFIlter == 'true'" class="chat-users-l lg:block  md:block sm:hidden hidden ">

            <ul>
                <li *ngFor="let item of FavourateDatas" (click)="handleusername(item.username, 'true', item._id)">
                    <div class="chat-profilePic-l"></div>{{item.username}}
                </li>
            </ul>
        </div>

        <div *ngIf="toggleFIlter == 'false'" class="chat-users-l lg:hidden  md:hidden sm:block block ">
            <ul>
                <li *ngFor="let item of datas" (click)="handlechat('chat/user', item.username, 'true', item._id)">
                    <div class="chat-profilePic-l"></div>{{item.username}}
                </li>
            </ul>
        </div>
        <div *ngIf="toggleFIlter == 'true'" class="chat-users-l lg:hidden  md:hidden sm:block block ">

            <ul>
                <li *ngFor="let item of FavourateDatas" (click)="handlechat('chat/user', item.username, 'true', item._id)">
                    <div class="chat-profilePic-l"></div>{{item.username}}
                </li>
            </ul>
        </div>
    </div>

    <div *ngIf="toggleChat === false" class="profileDetails-l">
        <div class="profileDetailsSub-l">
            <div class="active-Not"></div>
            <h1>online</h1>
        </div>
        <div class="profileDetailsusername-l">
            <ul >
                <li>
                    <h1>User Name: {{userProfile.username}}</h1>
                </li>
                <li>
                    <h1>Phone No: {{userProfile.phoneNo}}</h1>
                </li>

            </ul>
        </div>
        <div class="bg-red-400 pt-2 pb-2 pl-4 pr-4 rounded mt-10">
            <button (click)="logOut()">Log Out</button>
        </div>

    </div>
</div>