<div class="profile-main">
    <div class="profile-sub1">
        <ul>
            <li (click)="handleProfileoption()" [ngClass]="hadleProfileOptions == true ? 'generalChange':'' ">Generals
            </li>
            <li>Account</li>
            <li (click)="handleProfileoption()" [ngClass]="hadleProfileOptions == false ? 'generalChange':'' ">Theme
            </li>
        </ul>
    </div>

    <div *ngIf="hadleProfileOptions == true " class="profile-sub2">
        <div class="active-sign"></div>
        <div class="user-info">
            <h1>{{userProfile.username}}</h1>
            <span>Phone number:</span>
            <h2>+91 {{userProfile.phoneNo}}</h2>
        </div>

        <div class="logout-button">
            <button (click)="logOut()">Log out</button>
        </div>
    </div>
    <div *ngIf="hadleProfileOptions == false " class="profile-sub2">
        <div class="themes">
            <h1>THEME</h1>
        </div>
        <div class="themeOption">
            <ul>
                <li>
                    <div class="dark-theme"></div> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Dark
                </li>
                <li (click)="handleThemeColor()">
                    <div class="light-theme"></div> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Light
                </li>
            </ul>
        </div>


    </div>
    <div class="close-profile">
        <button (click)="handleClose()"><fa-icon [icon]="xmark"></fa-icon></button>
    </div>



</div>