<div class="profile-main">
    <div
        [ngClass]="themeColor == 'white' ? 'profile-sub1-light lg:block md:block sm:hidden hidden': 'profile-sub1 lg:block md:block sm:hidden hidden' ">
        <ul>
            <li *ngIf="themeColor == 'white'" (click)="handleProfileoption()"
                [ngClass]="hadleProfileOptions == true && themeColor == 'white' ? 'generalChange-light': '' ">
                Generals
            </li>
            <li *ngIf="themeColor !== 'white' " (click)="handleProfileoption()"
                [ngClass]="hadleProfileOptions == true  ? 'generalChange':'' ">
                Generals
            </li>
            <li>Account</li>
            <li *ngIf="themeColor == 'white' " (click)="handleProfileoption()"
                [ngClass]="hadleProfileOptions == false && themeColor == 'white' ? 'generalChange-light':'' ">
                Theme
            </li>
            <li *ngIf="themeColor !== 'white' " (click)="handleProfileoption()"
                [ngClass]="hadleProfileOptions == false  ? 'generalChange':'' ">
                Theme
            </li>

            <li (click)="handleClose()">close Profile</li>
        </ul>
    </div>
    <div
        [ngClass]="themeColor == 'white' ? 'profile-sub1-sm-light lg:hidden md:hidden sm:block block': 'profile-sub1-sm lg:hidden md:hidden sm:block block' ">
        <ul>
            <li *ngIf="themeColor == 'white'" (click)="handleProfileoption()"
                [ngClass]="hadleProfileOptions == true && themeColor == 'white' ? 'generalChange-light': '' ">
                Generals
            </li>
            <li *ngIf="themeColor !== 'white' " (click)="handleProfileoption()"
                [ngClass]="hadleProfileOptions == true  ? 'generalChange':'' ">
                Generals
            </li>
            <li>Account</li>
            <li *ngIf="themeColor == 'white' " (click)="handleProfileoption()"
                [ngClass]="hadleProfileOptions == false && themeColor == 'white' ? 'generalChange-light':'' ">
                Theme
            </li>
            <li *ngIf="themeColor !== 'white' " (click)="handleProfileoption()"
                [ngClass]="hadleProfileOptions == false  ? 'generalChange':'' ">
                Theme
            </li>

            <li (click)="handleClose()" id="close-profile">close</li>
        </ul>
    </div>

    <div *ngIf="hadleProfileOptions == true " class="profile-sub2">
        <div class="active-sign"></div>
        <div class="user-info">
            <h1>{{userProfile.username}}</h1>
            <span>Phone number:</span>
            <h2>+91 {{userProfile.phoneNo}}</h2>
        </div>

        <div class="logout-button">
            <button (click)="logOut()">Log out</button>
        </div>
    </div>
    <div *ngIf="hadleProfileOptions == false " class="profile-sub2">
        <div class="themes">
            <h1>THEME</h1>
        </div>
        <div class="themeOption">
            <ul>
                <li>
                    <div class="dark-theme"></div> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Dark
                </li>
                <li (click)="handleThemeColor()">
                    <div class="light-theme"></div> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Light
                </li>
            </ul>
        </div>

    </div>



</div>