<div class="profile-main">
    <div class="profile-sub1">
        <ul>
            <li>General</li>
            <li>Account</li>
            <li>Theme</li>
        </ul>
    </div>

    <div class="profile-sub2">
        <div class="active-sign"></div>
        <div class="user-info">
            <h1>{{userProfile.username}}</h1>
            <span>Phone number:</span>
            <h2>+91 {{userProfile.phoneNo}}</h2>
        </div>

    <div class="logout-button">
        <button (click)="logOut()">Log out</button>
    </div>

    </div>
</div>