.user-main {
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.user-main-sub {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    
}

.user-nav-xl {
    height: auto;
    border-bottom: 0.2px solid rgb(3, 3, 61);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 20px 14px 20px;
    background-color: rgb(7, 7, 39);
    color: white;


}

.user-nav-xl h1 {
    font-weight: 800;
    font-size: 20px;
}

.user-nav-xl ul {
    /* background-color: red; */
    display: flex;


}

.user-nav-xl li {
    padding-left: 10px;
    padding-right: 10px;
}

.user-nav-xl-light {
    height: auto;
    border-bottom: 0.2px solid rgb(221, 221, 224);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 20px 14px 20px;
    background-color: white
}

.user-nav-xl-light h1 {
    font-weight: 700;
    font-size: 20px;
}

.user-nav-xl-light ul {
    /* background-color: red; */
    display: flex;



}

.user-nav-xl-light li {
    padding-left: 10px;
    padding-right: 10px;
}


.user-chat-show-l::-webkit-scrollbar {
    background-color: transparent;
    width: 10px;
    height: 10px;

}

/* Customize scrollbar thumb */
.user-chat-show-l::-webkit-scrollbar-thumb {
    background-color: rgb(3, 3, 20);

    border-radius: 10px;
    /* Border radius */
}

.user-chat-show-l::-webkit-scrollbar-corner {
    background-color: transparent;
}

.sender {
    background-color: #a998f6;
    /* Light red for receiver */
    padding: 10px;
    border-radius: 10px;
    margin: 10px 10px;
    align-self: flex-end;
}

.receiver {
    background-color: #f3e3e4;
    /* Light red for receiver */
    padding: 10px;
    border-radius: 10px;
    margin: 10px 10px;
    align-self: flex-start;
}

.user-chat-show-l .message {
    position: relative;
}

.message {
    max-width: 75%;
    word-wrap: break-word;
}


.user-chat-type {
    /* background-color: red; */
    color: white;
    height: 50px;
    display: flex;
}

.user-chat-type input {
    width: 90%;
    height: 100%;
    background-color: rgb(7, 7, 39);
    border-top: 0.2px solid rgb(4, 4, 52);
    border-bottom: 0.2px solid rgb(3, 3, 61);

    /* border: none; */

}

.user-chat-type input:focus {
    outline: none;
}

.user-chat-type button {
    background-color: rgb(18, 18, 85);
    width: 10%;
    border: none;
}



.user-chat-type-light {
    border-top: 0.2px solid rgb(191, 189, 189);
    height: 50px;
    display: flex;
}

.user-chat-type-light input {
    width: 90%;
    height: 100%;
    /* background-color: rgb(3, 3, 20); */
    border-top: 0.2px solid rgb(3, 3, 61);
    background-color: white;
    border: none;

}

.user-chat-type-light input:focus {
    outline: none;
}

.user-chat-type-light button {
    background-color: white;
    width: 10%;
    border: none;
}

.user-chat-show-l {
    background-color: rgb(2, 2, 23);
    height: 100%; 
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    color: black;


}

.user-chat-show-l li {
    margin-bottom: 20px;
    margin-left: 30px;


}




.user-chat-show-l-light {
    height: 83%;
    background-color: rgb(237, 236, 236);
    display: flex;
    flex-direction: column;
    overflow-y: scroll;

}

.user-chat-show-l-light li {
    margin-bottom: 20px;
    margin-left: 30px;
}


.ToggleFavourates {
    color: gold;
}

ToggleFavourates2 {
    color: blue;
}


.menu-bar ul {
    z-index: 8;
    position: absolute;
    background-color: rgb(3, 3, 37);
    display: flex;
    flex-direction: column;
    margin-left: -26px;
    margin-top: 5px;
    height: 100px;
    width: 100px;
    border: 0.5px solid rgb(9, 9, 78);
} 
.menu-bar li{
    /* background-color: red; */
    /* margin-top: 10px; */
   padding-left: 15px;
   padding-top: 10px;
   padding-bottom: 10px;
   transition: 0.3s ease-in-out;

}
.menu-bar li:hover{
background-color: #9d9d9e;
}
.menu-bar-light ul{
    z-index: 8;
    position: absolute;
    background-color: rgb(243, 242, 242);
    display: flex;
    flex-direction: column;
    margin-left: -26px;
    margin-top: 5px;
    height: 100px;
    width: 100px;
    border: 0.2px solid rgb(216, 214, 214);
}
.menu-bar-light li{
    /* background-color: red; */
    /* margin-top: 10px; */
   padding-left: 15px;
   padding-top: 10px;
   padding-bottom: 10px;
   transition: 0.3s ease-in-out;

}
.menu-bar-light li:hover{
background-color: #ad9df4;
}



.goBack {
    text-align: center;
    background-color: rgb(5, 4, 53);
    height: 100%;
    place-content: center;
}
.goBack-light{
    text-align: center;
    background-color: rgb(243, 242, 242);
    height: 100%;
    place-content: center;
}
.optionToggle{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: 200px;
    height: 300px;
    display: flex;
    justify-content: center;
    place-items: center;
    color: white;
    margin-top: 100px;
    margin-left: 150px;
}
.optionToggle{
    position: absolute;
    width: 200px;
    height: 300px;
    display: flex;
    justify-content: center;
    place-items: center;
    color: black;
    margin-top: 100px;
    margin-left: 150px;
}