<div class="user-main">

    <div class="user-main-sub" *ngIf="checkGoBack == 'true' ">

        <nav [ngClass]="themeColor == 'white' ? 'user-nav-xl-light':'user-nav-xl' ">
            <button (click)="goBAck('/home')"><fa-icon [icon]="faarrowleft"></fa-icon></button>
            <h1>{{getValues}}</h1>
            <ul>
                <li *ngIf="HandleToggleStar.includes(GetUserId)" (click)="HandleFavourate(GetUserId)">
                    <fa-icon class="ToggleFavourates" [icon]="favourates"></fa-icon>
                </li>
                <li *ngIf="!HandleToggleStar.includes(GetUserId)" (click)="HandleFavourate(GetUserId)">
                    <fa-icon class="ToggleFavourates2" [icon]="favourates"></fa-icon>
                </li>
                <li class="ClickM">MENU
                    <div class="menu-bar">
                        <ul>
                            <li (click)="delmessage(currentUser,receiverId)">clearChat</li>
                            <li (click)="removeFreindLIst()">remove </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </nav>

        <div [ngClass]="themeColor == 'white'? 'user-chat-show-l-light': 'user-chat-show-l ' ">
            
                <div class="message" *ngFor="let message of messages"
                [ngClass]="{'sender': message.sender_id === currentUser, 'receiver': message.sender_id !== currentUser}"
                class="message">
                <p><strong>{{message.sender}}</strong> {{message.message}}</p>

        </div>
        </div>
        <div [ngClass]="themeColor == 'white' ? 'user-chat-type-light' : 'user-chat-type' ">
            <input type="text" [(ngModel)]="message">
            <button (click)="sendMessage()"><fa-icon [icon]="faPlane"></fa-icon></button>
        </div>
    </div>

    <div *ngIf="checkGoBack === 'false' "
        style="text-align:  center; background-color: rgb(5, 4, 53); height: 100%; place-content: center;">
        <h1>click any profile</h1>
    </div>


</div>