<div class="user-main">
    <div *ngIf="checkGoBack == 'true' ">
        <nav  class="user-nav-xl">
            <button (click)="goBAck('/home')"><fa-icon [icon]="faarrowleft"></fa-icon></button>
            <h1>{{getValues}}</h1>
            <ul >
                <li *ngFor="let item of FavourateDatas" (click)="HandleFavourate(GetUserId)">
                    <!-- <fa-icon  [icon] = "favourates" ></fa-icon> -->
                    {{ item._id }} - {{ GetUserId }}
                    <fa-icon class="ToggleFavourates" [icon]="item._id.includes(GetUserId) ? favourates : faarrowleft " ></fa-icon>
                </li>
                <li>menu</li>
            </ul>
        </nav>
        <div class="user-chat-show-l">

            <ul>
                <li>
                    <div class="chatSend"> </div>
                </li>
                <li>
                    <div class="chatReceived">
                        <h1>{{chatSend}}</h1>
                    </div>

                </li>
            </ul>
        </div>
        <div class="user-chat-type">
            <input type="text" [(ngModel)]="chatSend">
            <button><fa-icon [icon]="faPlane"></fa-icon></button>
        </div>
    </div>
    <div *ngIf="checkGoBack === 'false' " style="text-align: center; height: 100%; place-content: center;">
        <h1>click any profile</h1>
    </div>


</div>