.home-mainDiv {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.nav-sidebar-l {

    width: auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    place-items: center;
    background-color: rgb(3, 3, 17);
    color: white;
}

.nav-sidebar-l ul {
    /* background-color: red; */
    margin-top: 20px;
    padding: 40px 20px 40px 20px;
}

.nav-sidebar-l li {
    padding-top: 20px;
    padding-bottom: 20px;
}

.nav-sidebar-l li:hover {
    color: orangered;
}

.nav-sidebar-l-light {
    width: auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    place-items: center;
    background-color: whitesmoke;
    color: black;
}

.nav-sidebar-l-light ul {
    /* background-color: red; */
    margin-top: 20px;
    padding: 40px 20px 40px 20px;
}

.nav-sidebar-l-light li {
    padding-top: 20px;
    padding-bottom: 20px;
}

.nav-sidebar-l-light li:hover {
    color: orangered;
}


/* nav-bar sm starts*/
.nav-sidebar-sm {
    width: auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    place-items: center;
    background-color: rgb(3, 3, 17);
    color: white;
}

.nav-sidebar-sm ul {
    /* background-color: red; */
    margin-top: 20px;
    padding: 10px 20px 10px 20px;
}

.nav-sidebar-sm li {
    padding-top: 20px;
    padding-bottom: 20px;



}

.nav-sidebar-sm li:hover {
    color: orangered;
}

.nav-sidebar-sm-light {
    width: auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    place-items: center;
    background-color: whitesmoke;
    color: black;
}

.nav-sidebar-sm-light ul {
    /* background-color: red; */
    margin-top: 20px;
    padding: 40px 20px 40px 20px;
}

.nav-sidebar-sm-light li {
    padding-top: 20px;
    padding-bottom: 20px;
}

.nav-sidebar-sm-light li:hover {
    color: orangered;
}

/* nav-bar sm ends*/

.chat-com {
    width: 50%;
    background-color: rgb(3, 3, 20);
    color: white;

}

.chat-com-light {
    width: 50%;
    background-color: rgb(249, 248, 248);
    color: black;
}

.chat-users {
    width: 43%;
    height: 100%;
    color: white;
}
.chat-users-light{
    width: 43%;
    color: black;
}

@media(width<800px) {
    .chat-users {
        display: none;
    }

    .chat-com {
        width: 100%;
    }

    .chat-com-light {
        width: 100%;

    }
    .chat-users-light{
        display: none;
    }
}

.new-chaypoint {
    position: absolute;
    background-color: red;
    border-radius: 100%;
    width: 10px;
    height: 10px;
}

.profile-com-l {
    position: absolute;
    /* display: flex;
    flex-direction: column;
    justify-content: top;
    place-items: center; */
    width: 50%;
    height: 500px;
    margin-top: 220px;
    margin-left: 10px;
    border-radius: 10px;
    background-color: rgb(5, 5, 34);
    color: white;
}

.profile-com-l-light {
    position: absolute;
    z-index: 5;
    /* display: flex;
    flex-direction: column;
    justify-content: top;
    place-items: center; */
    width: 50%;
    height: 500px;
    margin-top: 220px;
    margin-left: 10px;
    border-radius: 10px;
    background-color: rgb(225, 225, 225);
    color: black;
}

@media(width<1120px) {
    .profile-com-l-light {
        width: 60%;
    }
}